import type { ReactNode } from "react";

interface Props {
  children: ReactNode;
}

const {{ pascalCase name }} = ({ children }:Props) => {
  return (
    <div>
      <h1>{{ pascalCase name }} Component</h1>
      {children}
    </div>
  );
};

export default {{ pascalCase name }};